@import "../../styles/mixins/btn-primary";
@import "../../styles/mixins/btn-secondary";

.timerControls {
  max-width: 378px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.startButton {
  @include btn-primary;
}

.stopButton {
  @include btn-secondary;
}
