.list {
  max-width: 531px;
}

.listItem {
  position: relative;
  padding-left: 23px;
  font-size: 16px;
  line-height: 33px;
  font-weight: 400;
  color: $black;

  &::before {
    content: '•';
    position: absolute;
    top: calc(33px / 2);
    transform: translateY(-16px);
    left: 0;
    color: $secondary;
  }
}
