// Colors
$primary: #a8b64f;
$primary-shade: #899441;
$secondary: #dc3e22;
$secondary-shade: #b7280f;
$secondary-fade-EE: #ee735d;
$secondary-fade-EA: #ea8979;
$gray-C4: #c4c4c4;
$gray-F4: #f4f4f4;
$white: #fff;
$black: #333;

//settings
$font-family: 'SFUI', sans-serif;
$container-offset: 15px;
$container-width: 1280px;
$content-width: $container-width + $container-offset * 2;
