@import "../../styles/mixins/btn-primary";

.form {
  grid-area: 2 / 1 / 3 / 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  max-width: 370px;
}

.input {
  width: 100%;
  padding: 19px 15px;
  background-color: $gray-F4;
  border: none;
  font-size: 16px;
  line-height: 17px;
  font-weight: 300;
  color: $black;

  &::placeholder {
    font-size: 16px;
    line-height: 17px;
    font-weight: 300;
    color: $gray-99;
  }
}

.button {
  @include btn-primary;
}

.error {
  font-size: 12px;
  line-height: 13px;
  font-weight: 300;
  color: red;
}
